[Unit]
Description=JsPhantom Account Control Traffic Compatibility
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto_logger
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
